
body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: .875rem;  
}

h1,h2,p{
    margin-top: 0;
    margin-bottom: 1em;
}
h1{
    color:#03afc2;
    line-height: 1;
    font-size: 3.125rem;
}
h2{
    font-size: 2rem;
    letter-spacing: 10px;
    color: #606060;
    line-height: 1;
    font-family: sans-serif;
    text-transform: uppercase;
    font-family: sans-serif;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
    width: 20%;
    height: auto;
}
nav{
    float: right;
    width: 80%;
}
nav ul{
    margin:0;
    padding:0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.skills-img{
    width: 20rem;
}
.skills{
    display: flex;

}
.skills-middle{
    background: #223b43;
    padding: 2.5em 5vw;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.skills-left img,
.skills-right img{
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    display: block;
}

.aboutme{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 1em;
}
.about-img{
    width: 250px;
    float: left;
    margin-right: 1em;
}
.about-title{
    margin-bottom: .25em;
}
.about-subtitle{
    margin: 0.5em 0;
}
.hobbies{
   text-align: center;
   background:#606060;
   display: block;
}
.figs-container{
    display: flex;
}
.hobbies-pics{
    position: relative;
    overflow: hidden;
    flex-direction: column;
    width: 20%;
    margin:0;
}
.hobbies-pics img{
    height:10rem;
}
.fig-hobby{
    top: 0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(#03afc2, .75);
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
}
.hobbies-pics:hover figcaption{
    top:0;
}
.hobbie-name{
    color: white;
    font-size: 1rem;
    margin-bottom: auto;
}
.hobby-des{
    color: white;
    font-size: 0.8rem;
    margin-bottom: auto;
}

footer{
    margin: auto;
    text-align: center;
    width: 100%;
   flex-direction: column;
   padding: 10px; 
}